<% provide(:title, 'All users') %>
<h1>All users</h1>
<div>
<%= paginate @users %>
  
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%# @users.each do |avatar| %>
      <%#　画像の表示を確認する %>
      <%#= image_tag User.avatar(size: '100x100') %>
      <%#= link_to user.name, user %>
      <%# @users.each do |user| %>
        <%= link_to user.name, user %>
        <%= image_tag(user.avatar.variant(resize: '100x100')) if user.avatar.attached? %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "削除しますか?" } %>
        <% end %>
    </li>
  <%# end %>
</ul>
  
<%= paginate @users %>
</div>